<h1>  </h1>

<div class="content">
  <div class="row">
    <% @bikes.each do |bike| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card text-center">
            <div class="card-header" style="background-image: url(<%= bike.picture %>);">
            </div>
            <div class="card-body">
              <ul>
                <li> <%= link_to bike.title, bike_path(bike) %></li>
                <li> <%= bike.description.truncate_words(20) %></li>
                <li> <strong> <%= bike.price %>$/day</strong></li>
             </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>" ></div>
</div>


