  <div class="crop">
     <%= image_tag(@bike.picture, class: "bike-picture") %>
 </div>

<div class="container">
 <div class="row">
   <br>
    <h2><%= @bike.title %></h2>
    <%= @bike.tenant.name %>
    <p><strong><%= @bike.price %>€/jour</strong> </p>
    <p><%= @bike.description %></p>
  </div>

  <%= simple_form_for [@bike, @bike_rent], html: { class: "my-simple_form" } do |f| %>
    <%= f.input :booking_date, html5: true %>
    <%= f.submit "Reservez maintenant!", class: "btn btn-success" %>
  <% end %>
</div>
 <%= link_to 'Retour aux recherches', bikes_path, class: "btn btn-danger" %>
