<div class="card">
  <%= @bike.title %>
  <%= image_tag(@bike.picture) %>
  <%= @bike.description %>
</div>

<<<<<<< HEAD
<%= @bike.title %>
<%= image_tag(@bike.picture) %>
<%= @bike.description %>

<% simple_form_for @bike_rents do |f| %>
<%= f.input date_field :date %>
<%= f.submit %>
<% end %>
=======
<div class="form">
  <%= simple_form_for @bike_rent do |f| %>
  <%= f.date_field :booking_date %>
  <%= f.submit "Book now!", class: "btn btn-success" %>
  <% end %>
</div>
>>>>>>> master
